#add-task {
  padding: .66rem 1.33rem;
  border: 2px solid var(--primary);
  border-radius: .3rem;
  background: #fff;
  .btn--save {
    font-weight: bold;
    margin: 1rem 0;
    @include breakpoint('x-small-up') {
      font-size: 1.33rem;
    }
  }
}
