#add-task {
  .btn--save {
    font-weight: bold;
    margin: 1rem 0;
    background-color: var(--color-2);
    color: #fff;
    @include breakpoint('x-small-up') {
      font-size: 1.33rem;
    }
  }
}
