.task {
  &__name {
    position: relative;
    width: 100%;
    text-align: left;
    padding: 0 .5rem .5rem;
    border-bottom: 2px solid var(--gray-off);
    &::first-letter {
      text-transform: uppercase;
    }
    &:before {
      content: '';
      position: absolute;
      top: .5em;
      width: 0;
      height: 2px;
      background: var(--color-4) ;
      transition: width .3s linear 0s;
    }
    &.done {
      color: var(--gray-off);
      &:before {
        width: 95%;
      }
    }
  }
  &__author {
    text-align: center;
    .avatar {
      margin-bottom: 1rem;
    }
    @include breakpoint('medium-down') {
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--gray-off);
    }
    .label {
      color: var(--secondary);
    }
    .name {
      color: var(--info);
      font-weight: bold;
    }
  }
  &__description {
    margin-top: 25px;
    font-size: 1.25rem;
    @include breakpoint('medium-up') {
      padding: .5rem 1.25rem;
      border-left: 1px solid #EFEFEF;
    }
  }
  &__author,
  &__actions .wrapper {
    position: sticky;
    top: 75px;
  }
  &__actions{
    .wrapper {
      display: flex;
      flex-direction: column;
      @include breakpoint('medium-up') {
        border-left: 1px solid #EFEFEF;
        padding-left: 1rem;
      }
      .btn {
        margin-bottom: 1rem;
        @include breakpoint('medium-up') {
          width: 115px;
        }
      }
    }
  }
}