#nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  overflow: auto;
  background-color: var(--color-5);
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .btn-logout {
    font-weight: bold;
  }
  .btn {
    font-weight: bold;
  }
}