#nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  overflow: auto;
  background-color: var(--color-5);
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
      float: left;
      > .btn {
        background-color: var(--color-1);
        color: #fff;
      }
    }
  }
  .btn-add-task {
    background-color: var(--color-2);
    color: #fff;
  }
  .btn-logout {
    font-weight: bold;
    background-color: var(--color-4);
    transition: background-color .2s linear 0s;
    &:hover {
      background-color: darken($color-4, 15%);
    }
  }
  .btn {
    font-weight: bold;
  }
}