#user-info {
  .user-image {
    @include flex-center(column);
    label {
      position: relative;
      cursor: pointer;
    }
    input#avatar {
      display: none;
    }
  }
  .alert {
    margin-top: 1rem;
    font-weight: bold;
    transform: translateY(0);
    &.fade-down-enter-active, 
    &.fade-down-leave-active {
      transition: opacity .2s linear, transform .2s linear;
    }
    &.fade-down-enter,
    &.fade-leave-to {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
}