#user-info {
  .user-image {
    @include flex-center(column);
    label {
      position: relative;
      cursor: pointer;
    }
    input#avatar {
      display: none;
    }
  }
  .alert {
    margin-top: 1rem;
    font-weight: bold;
    transform: translateY(0);
  }
  .progress {
    &-box {
      width: 200px;
      height: 25px;
      margin: auto;
      background-color: #dedede;
      border-radius: 3px;
      padding: 5px;
    }
    &-bar {
      width: 0%;
      height: 100%;
      background-color: var(--success);
      border-radius: 3px;
      margin-left: 0;
    }
  }
  .fade-down-enter-active, 
  .fade-down-leave-active {
    transition: opacity .2s linear, transform .2s linear;
  }
  .fade-down-enter,
  .fade-leave-to {
    opacity: 0;
    transform: translateY(100%);
  }
}