#user-info {
  .user-image {
    @include flex-center(column);
    label {
      position: relative;
      cursor: pointer;
      .avatar-placeholder {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        border: 2px solid var(--gray);
        @include flex-center;
      }
    }
    input#avatar {
      display: none;
    }
    .btn {
      margin-top: 1.5rem;
    }
  }
  .alert {
    margin-top: 1rem;
    font-weight: bold;
    transform: translateY(0);
    &.fade-down-enter-active, 
    &.fade-down-leave-active {
      transition: opacity .2s linear, transform .2s linear;
    }
    &.fade-down-enter,
    &.fade-leave-to {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
}