$color-1: #343a40;
$color-2: #28a745;
$color-3: #ffc107;
$color-4: #fd7e14;
$color-5: #17a2b8;
$gray-off: #ABABAB;
:root {
  --color-1: #{$color-1};
  --color-2: #{$color-2};
  --color-3: #{$color-3};
  --color-4: #{$color-4};
  --color-5: #{$color-5};
  --gray-off: #{$gray-off};
}