$color-1: #117577;
$color-2: #31A393;
$color-3: #FFCB9A;
$color-4: #D9B08C;
$color-5: #2C3531;
:root {
  --color-1: #{$color-1};
  --color-2: #{$color-2};
  --color-3: #{$color-3};
  --color-4: #{$color-4};
  --color-5: #{$color-5};
}