@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/containers";
@import "utilities/various";
@import "components/buttons";

img.avatar {
  width: 100px;
  height: auto;
  border-radius: 100%;
}
