@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/containers";
@import "utilities/various";
@import "components/buttons";

img.avatar {
  width: 100px;
  height: auto;
  margin-bottom: 1.5rem;
  border-radius: 100%;
}
.avatar-placeholder {
  width: 100px;
  height: 100px;
  margin: 0 auto 1.5rem;
  border-radius: 100%;
  border: 2px solid var(--gray);
  @include flex-center;
}