@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/containers";
@import "utilities/various";
@import "components/buttons";

img.avatar {
  display: block;
  width: 100px;
  height: auto;
  margin: 0 auto 1.5rem auto;
  border-radius: 100%;
}
.avatar-placeholder {
  width: 100px;
  height: 100px;
  margin: 0 auto 1.5rem;
  border-radius: 100%;
  border: 2px solid var(--gray);
  @include flex-center;
}

.task-window {
  overflow: hidden;
  height: 260px;
  &.expand-enter-active,
  &.expand-leave-active {
    transition: height .5s linear;
  }
  &.expand-enter,
  &.expand-leave-to {
    height: 0px;
  }
}